.App {
  text-align: center;
  /* display: flex; */
}


.App-link {
  color: #61dafb;
}

/* Structure */
.Container {
  /* display: flex;
  justify-content: center; */
}

/* .Container  > * {
  padding: 10px;
  flex: 1 100%;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
