
.SectionOne {
    background: #4e3f59 ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    flex-flow:  row;
    padding: 10%;
}

.SectionOne h1 {
    background: red;
    flex-direction: row;
    
}
